# Decision Tree Regression

## Importing The Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

## Importing The DataSet

In [2]:
data = pd.read_csv("insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Encoding categorical data

In [3]:
obj_column = list(data.select_dtypes(['object']).columns)
data_encoded = pd.get_dummies(data=data,columns=obj_column)
data_encoded = data_encoded[["sex_female",'sex_male','smoker_no','smoker_yes',\
                             'region_northeast','region_northwest','region_southeast',\
                             'region_southwest','age','bmi','children','charges']]
data_encoded.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,age,bmi,children,charges
0,1,0,0,1,0,0,0,1,19,27.900,0,16884.92400
1,0,1,1,0,0,0,1,0,18,33.770,1,1725.55230
2,0,1,1,0,0,0,1,0,28,33.000,3,4449.46200
3,0,1,1,0,0,1,0,0,33,22.705,0,21984.47061
4,0,1,1,0,0,1,0,0,32,28.880,0,3866.85520

In [5]:
x = data_encoded.iloc[:, :-1].values
y = data_encoded.iloc[:, -1].values

## Splitting the dataset into the Training set and Test set

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)

## Training the Decision Tree Regression model on the Training set

In [7]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(x_train,y_train)

DecisionTreeRegressor()

## Predicting the Test set results

In [8]:
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[10797.34  9724.53]
 [ 8871.15  8547.69]
 [42983.46 45702.02]
 [12574.05 12950.07]
 [ 9566.99  9644.25]
 [21984.47  4500.34]
 [ 2196.47  2198.19]
 [10848.13 11436.74]
 [ 7281.51  7537.16]
 [ 6128.8   5425.02]
 [27375.9   6753.04]
 [ 8932.08 10493.95]
 [ 7345.08  7337.75]
 [ 4571.41  4185.1 ]
 [18246.5  18310.74]
 [10560.49 10702.64]
 [12323.94 12523.6 ]
 [ 5594.85  3490.55]
 [ 6548.2   6457.84]
 [34254.05 33475.82]
 [24667.42 23967.38]
 [12269.69 12643.38]
 [10797.34 23045.57]
 [24520.26 23065.42]
 [ 1391.53  1674.63]
 [ 6551.75  4667.61]
 [ 2680.95  3732.63]
 [ 6600.36  7682.67]
 [ 3757.84  3756.62]
 [ 8027.97  8413.46]
 [ 7201.7   8059.68]
 [47896.79 48970.25]
 [21797.   12979.36]
 [10713.64 20630.28]
 [15359.1  14571.89]
 [ 3943.6   4137.52]
 [ 8240.59  8347.16]
 [37165.16 51194.56]
 [39983.43 40003.33]
 [23082.96  1880.49]
 [21984.47  5458.05]
 [ 3062.51  2867.12]
 [19539.24 20149.32]
 [44400.41 47496.49]
 [36307.8  36149.48]
 [ 3579.83 26018.95]
 [10560.49 19749.38]
 [ 7046.72  6940.91]
 [ 5354.07  4718.2 ]
 [27117.99 22192.44]
 [ 3046.06  2899.49]
 [24059.68 18838.7 ]
 [37829.72 23568.27]
 [60021.4  46255.11]
 [11856.41 24227.34]
 [19673.34  3268.85]
 [ 2498.41  2322.62]
 [ 8932.08  8827.21]
 [ 9788.87 14478.33]
 [14349.85 13112.6 ]
 [ 1842.52  1253.94]
 [46130.53 46718.16]
 [14001.29 13919.82]
 [ 8116.68  9630.4 ]
 [26392.26 10736.87]
 [ 9872.7   9880.07]
 [33900.65 32548.34]
 [43943.88 38746.36]
 [ 3861.21  3180.51]
 [15828.82  8162.72]
 [12233.83 13041.92]
 [12224.35 11554.22]
 [19199.94 16232.85]
 [13887.2  13887.97]
 [13204.29 13012.21]
 [12815.44 13217.09]
 [ 7623.52  7147.1 ]
 [ 7147.47  7731.43]
 [19539.24 20296.86]
 [48824.45 47403.88]
 [11658.12 11658.38]
 [63770.43 45863.21]
 [ 2643.27  2055.32]
 [ 7445.92  7441.05]
 [41661.6  41034.22]
 [16577.78 18972.49]
 [ 3292.53  3410.32]
 [ 2523.17  2699.57]
 [13224.69 12333.83]
 [36197.7  36837.47]
 [ 6551.75  6334.34]
 [10704.47 10214.64]
 [ 3213.62 17878.9 ]
 [ 8516.83  8515.76]
 [ 3935.18  4518.83]
 [18903.49  5148.55]
 [41999.52 42303.69]
 [62592.87 38998.55]
 [ 6128.8   5327.4 ]
 [10601.41 10602.39]
 [ 1826.84  1824.29]
 [ 4462.72  5377.46]
 [ 5138.26  4349.46]
 [36950.26 37742.58]
 [22144.03 32787.46]
 [ 3176.29  3353.47]
 [12029.29 10577.09]
 [ 3176.82  3556.92]
 [12430.95 11944.59]
 [45710.21 52590.83]
 [12479.71 12475.35]
 [ 4463.21  4266.17]
 [ 8930.93  9249.5 ]
 [34254.05 33732.69]
 [47269.85 48675.52]
 [ 7077.19  7729.65]
 [ 1967.02  1964.78]
 [ 8932.08  8444.47]
 [27941.29 12347.17]
 [ 9500.57  9301.89]
 [42211.14 42124.52]
 [ 9863.47  9991.04]
 [14901.52 14319.03]
 [ 6551.75  5428.73]
 [ 7624.63  7626.99]
 [ 4719.74  4906.41]
 [38245.59 23401.31]
 [35069.37 21098.55]
 [48824.45 48173.36]
 [ 1646.43  1917.32]
 [ 7633.72  8219.2 ]
 [ 1136.4   1725.55]
 [ 5974.38  5976.83]
 [ 8688.86  9361.33]]

## Evaluating the Model Performance

In [9]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7704518851887988

In [15]:
regressor.predict([[1,0,0,1,1,0,1,1,25,26,3]])

array([17085.27])