# Random Forest Regression

## Importing The Library

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

## Importing The DataSet

In [15]:
data = pd.read_csv("insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Encoding categorical data

In [16]:
obj_column = list(data.select_dtypes(['object']).columns)
data_encoded = pd.get_dummies(data=data,columns=obj_column)
data_encoded = data_encoded[["sex_female",'sex_male','smoker_no','smoker_yes',\
                             'region_northeast','region_northwest','region_southeast',\
                             'region_southwest','age','bmi','children','charges']]
data_encoded.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,age,bmi,children,charges
0,1,0,0,1,0,0,0,1,19,27.900,0,16884.92400
1,0,1,1,0,0,0,1,0,18,33.770,1,1725.55230
2,0,1,1,0,0,0,1,0,28,33.000,3,4449.46200
3,0,1,1,0,0,1,0,0,33,22.705,0,21984.47061
4,0,1,1,0,0,1,0,0,32,28.880,0,3866.85520

In [17]:
x = data_encoded.iloc[:, :-1].values
y = data_encoded.iloc[:, -1].values

## Splitting the dataset into the Training set and Test set

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)

## Training the Random Forest Regression model on the Training set

In [28]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=20, random_state=0)

## Predicting the Test set results

In [29]:
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 9929.89  9724.53]
 [10572.22  8547.69]
 [44175.83 45702.02]
 [12996.47 12950.07]
 [ 9365.03  9644.25]
 [10605.6   4500.34]
 [ 2400.51  2198.19]
 [10628.46 11436.74]
 [ 7891.12  7537.16]
 [ 5211.12  5425.02]
 [10647.08  6753.04]
 [17226.28 10493.95]
 [ 9788.23  7337.75]
 [ 5483.3   4185.1 ]
 [23498.82 18310.74]
 [11862.49 10702.64]
 [16639.42 12523.6 ]
 [12221.81  3490.55]
 [ 7003.5   6457.84]
 [34019.22 33475.82]
 [23472.91 23967.38]
 [12500.78 12643.38]
 [10158.2  23045.57]
 [28014.96 23065.42]
 [ 4704.53  1674.63]
 [ 9248.9   4667.61]
 [ 7166.39  3732.63]
 [ 9693.27  7682.67]
 [ 3761.62  3756.62]
 [12575.93  8413.46]
 [ 7408.85  8059.68]
 [48057.68 48970.25]
 [14091.1  12979.36]
 [11679.56 20630.28]
 [14849.7  14571.89]
 [ 3666.96  4137.52]
 [ 9167.23  8347.16]
 [37663.1  51194.56]
 [40575.15 40003.33]
 [ 8069.94  1880.49]
 [ 9645.89  5458.05]
 [ 3213.46  2867.12]
 [21222.44 20149.32]
 [46375.4  47496.49]
 [36775.72 36149.48]
 [ 8419.92 26018.95]
 [11862.49 19749.38]
 [ 6783.83  6940.91]
 [ 9539.03  4718.2 ]
 [12595.79 22192.44]
 [ 6985.41  2899.49]
 [16535.36 18838.7 ]
 [28036.23 23568.27]
 [45572.89 46255.11]
 [11671.43 24227.34]
 [10284.63  3268.85]
 [ 2430.59  2322.62]
 [12067.4   8827.21]
 [10576.9  14478.33]
 [17032.51 13112.6 ]
 [ 2404.42  1253.94]
 [46640.36 46718.16]
 [17091.78 13919.82]
 [10911.45  9630.4 ]
 [17191.14 10736.87]
 [ 9734.91  9880.07]
 [33868.77 32548.34]
 [45807.08 38746.36]
 [ 7359.67  3180.51]
 [10531.04  8162.72]
 [16983.57 13041.92]
 [11587.49 11554.22]
 [17886.76 16232.85]
 [13767.62 13887.97]
 [17680.15 13012.21]
 [19175.82 13217.09]
 [ 9829.7   7147.1 ]
 [ 8331.96  7731.43]
 [19781.42 20296.86]
 [48320.27 47403.88]
 [11613.37 11658.38]
 [49067.21 45863.21]
 [ 2061.41  2055.32]
 [ 8163.64  7441.05]
 [41059.32 41034.22]
 [19841.9  18972.49]
 [ 3716.1   3410.32]
 [ 3240.14  2699.57]
 [13924.71 12333.83]
 [39000.54 36837.47]
 [ 9366.43  6334.34]
 [11689.08 10214.64]
 [ 5806.68 17878.9 ]
 [10552.95  8515.76]
 [ 8142.51  4518.83]
 [ 9362.1   5148.55]
 [42627.15 42303.69]
 [56146.16 38998.55]
 [ 6650.17  5327.4 ]
 [12368.99 10602.39]
 [ 3166.75  1824.29]
 [ 5549.54  5377.46]
 [ 5069.8   4349.46]
 [39855.72 37742.58]
 [26653.68 32787.46]
 [ 3243.75  3353.47]
 [10982.71 10577.09]
 [ 9864.43  3556.92]
 [12774.85 11944.59]
 [45960.83 52590.83]
 [13085.57 12475.35]
 [ 5311.65  4266.17]
 [ 9038.97  9249.5 ]
 [34590.57 33732.69]
 [46783.93 48675.52]
 [ 7403.79  7729.65]
 [ 1897.84  1964.78]
 [11628.94  8444.47]
 [23599.98 12347.17]
 [ 9557.98  9301.89]
 [42036.32 42124.52]
 [10801.4   9991.04]
 [14433.45 14319.03]
 [ 9631.25  5428.73]
 [ 8628.6   7626.99]
 [ 7030.    4906.41]
 [26742.65 23401.31]
 [27836.46 21098.55]
 [48312.43 48173.36]
 [ 1779.65  1917.32]
 [11018.18  8219.2 ]
 [ 3512.42  1725.55]
 [ 6044.26  5976.83]
 [ 9292.05  9361.33]]

## Evaluating the Model Performance

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8968649606488012

In [31]:
regressor.predict([[1,0,0,1,1,0,1,1,25,26,3]])

array([17013.85])